<!DOCTYPE html>
<html>
  <head>
    <title>SROttenTomatoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
       window.images = {
         logo: "<%= image_url('SRO_logo.png') %>"
       }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Libre+Franklin:200,300,400" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
