<!DOCTYPE html>
<html>
  <head>
    <title>SROttenTomatoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
       window.images = {
         logo: "<%= image_url('SRO_logo.png') %>",
         sro_icon: "<%= image_url('sro_icon.png') %>",
         comedy_icon: "<%= image_url('comedy_icon.png') %>",
         tragedy_icon: "<%= image_url('tragedy_icon.png') %>",

       }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Libre+Franklin:200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
