<!DOCTYPE html>
<html>
  <head>
    <title>SROttenTomatoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
       window.images = {
         logo: "<%= image_url('SRO_logo.png') %>"
       }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
