<!DOCTYPE html>
<html>
  <head>
    <title>SROttenTomatoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
       window.images = {
         logo: "<%= image_url('SRO_logo.png') %>",
         sro_icon: "<%= image_url('sro_icon.png') %>",
         comedy_icon: "<%= image_url('comedy_icon.png') %>",
         tragedy_icon: "<%= image_url('tragedy_icon.png') %>",
         image1: "<%= image_url('image1.jpg') %>",
         image2: "<%= image_url('image2.jpg') %>",
         image3: "<%= image_url('image3.jpg') %>",
         image4: "<%= image_url('image4.jpg') %>",
         image5: "<%= image_url('image5.jpg') %>",
         image6: "<%= image_url('image6.jpg') %>",
         image7: "<%= image_url('image7.jpg') %>",
         image8: "<%= image_url('image8.jpg') %>",
         image9: "<%= image_url('image9.jpg') %>",
       }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Libre+Franklin:200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
